#description {
  background-color: #D3D3D3;
  background: rgba(255,255,255,0.55);
  border-radius: 5px;
  padding: 20px;
}


#mycontent {
  background-image: url('../images/profilepic.jpg');
  border-radius: 5px;
  height: 100%;
}

#whiteside {
        background-color: white;
        height: 100%;
        margin-left: 20%;
}
