* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/* height of push and footer has to equal */

.push {
  height: 4em;
}
.footer {
  height: 4em;
  background: #2a2730;
  width: 100%;
}


/*
.footer {
  background: #2a2730;
  width: 100%;
  margin-top: 40px;
  color: white;
  padding: 20px;
}
*/
