.container img {
  border-radius: 5px;
}

#aboutme {
  /*background-color: #A9A9A9;*/
  /*background: rgba(102, 153, 153, 0.3);*/
  padding: 15px;
  height: 100%;
  width: 100%;
}

#aboutme h1 {
  font-weight: 600;
}

#aboutme h5 {
  font-style: italic;
}

#profilepic img {
  max-width: 100%;
  border-radius: 50%;
}
