.navbar {
  background: none !important;
  border: 0 !important;
}

.nav .active a {
  background: blue !important;
}

.testdivs {
  height: 1000px;
  background: pink;
  margin-top: 10px;
  padding-top: 50px;
}











/*
.container img {
  border-radius: 5px;
}

#aboutme {
  padding: 10% 15px 15px 15px;
  height: 100%;
  width: 100%;

}

#aboutme h1 {
  font-weight: 600;
}

#aboutme h5 {
  font-style: italic;
}

#profilepic img {
  width: 213px;
  height: 213px;
  border-radius: 50%;
  display: block;
  margin: auto;
}



@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    #profilepic img {
      max-width: 40%;
      border-radius: 50%;
      display: block;
      margin: auto;
    }

    h1, h5 {
      text-align: center;
    }

    .blurb {
      padding: 0px 0px 40px 40px;
    }
}

*/
