.container-fluid {
  padding: 0px !important;
}

/* navbar properties */
.navbar {
  background-color: rgba(0,0,0,0.5) !important;
  border: 0 !important;
  padding-top: 10px;

}

/* navbar nav space from right */
.navbar-nav {
  margin-right: 90px;
}

/* navbar nav individual spacing */
.navbar-nav > li {
  margin-left: 30px;
}

/* navbar active background properties */
.nav .active a {
  background: none !important;
  border-bottom: 5px solid #9097DD;
}

.navbar-nav > .collapse in {
  border-bottom: 0px !important;
}

/* navbar active text color */
.navbar-nav > .active> a, .navbar-nav> li >a:hover, .navbar-nav>.active>a:focus {
  color: #9097DD !important;
  border-bottom: 5px solid #9097DD;
}

/* section properties */
.section {
  min-height: 105vh;
  /* background: pink;  get rid of THISS */
}

/* navbar text properties */
.navbar .nav > li > a {
    color: white;
    font-size: 15px;
    font-weight: 100;
}

/* toggle triple-bar color */
.icon-bar {
  color: white;
}

/* remove the border around toggle button */
.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

/* navbar brand properties */
.navbar .navbar-brand {
  color: white;
  font-size: 25px;
  padding-left: 30px;
  font-weight: 100;
}

/* content */

h1 {
  font-size: 60px;
  font-weight: 100;
}

h5 {
  font-style: italic;
  font-weight: 100;
}

p {
  font-size: 16px;
}

/* home section */
#home {
  /* background: #363D7B; */
  color: white;
  padding: 37vh 60px 60px 60px;
}

#profilepic {
  height: 213px;
  width: 213px;
  border-radius: 50%;
  float: right;
  margin-right: 20px
}

.social-media-btns {
  margin: 0px 10px 0px 0px;
}


@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    .section {
      height: 630px;
      /* background: pink; get rid of THISS */
    }

    #home {
      /* background: #363D7B; */
      color: white;
      padding: 20vh 25px 60px 25px;
    }

    #profilepic {
      float: none;
      display: block;
      margin: auto;
    }

    h1, h5 {
      text-align: center;
    }

    #social-media {
      text-align: center;
    }
}
