.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.jumbotron {
  background-image:url('assets/images/profilepic.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.profilepic {
  width: 600px;
  position: fixed;
  z-index: -10;
  padding-left: 15%;
  margin-left: -470px;
  height: 100%;
}
