#project {
  border-style:solid;
  border-width: 15px;
  border-color: rgba(102, 153, 153, 0.3);
  border-radius: 5px;
  padding: 15px;
  height: 100%;
  width: 100%;
}

#projecttitle {
  font-size: 25px;
  font-weight: 700;
}

#projectpic img {
  max-width: 100%;
  height: auto;
}

#projectduration {
  font-style: italic;
}

#projectdescription {

}

#projectlinkrow {
  display: inline block;
}

#projectlink {
  background: rgba(96, 96, 96, 0.3);
  padding: 5px;
  text-align: center;
}
