#project {
  border-style:solid;
  border-width: 15px;
  border-color: rgba(102, 153, 153, 0.3);
  border-radius: 5px;
  padding: 15px;
  height: 100%;
  width: 100%;
}

#projecttitle {
  font-size: 25px;
  font-weight: 700;
}

#projectpic img {
  max-width: 100%;
  height: auto;
}

#projectduration {
  font-style: italic;
}

#projectdescription {

}

#projectlinkrow {
  display: inline block;
}

#projectlink {
  background: rgba(96, 96, 96, 0.3);
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.5);
}

/* nav-pill customizations */
/* make the pill background color stay the same when hovering*/
.brown li.active a,
.brown li.active a:hover {
  background-color: rgba(102, 153, 153, 1);
}

/* pill background color while selected */
.nav-pills > li.active > a, li.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: rgba(102, 153, 153, 1);

}

/* pill link text color */
.nav-pills a {
  color: rgba(102, 153, 153, 1);
}

/*rgba(202, 145, 88, 0.7)*/