#job {
  border-style:solid;
  border-width: 15px;
  border-color: rgba(102, 153, 153, 0.3);
  border-radius: 5px;
  padding: 15px;
  height: 100%;
  width: 100%;
}

#jobtitle {
  font-size: 25px;
  font-weight: 700;
}

#jobemployer {

}

#jobduration {
  font-style: italic;
}

#joblocation {
  background: rgba(96, 96, 96, 0.3);
  float: right;
  border-radius: 10px;
  margin-right:5px;
  padding: 5px;
}

#jobdescription {

}
